setuptools
onnxruntime-rocm
anyio
atomics
black
boltons
boto3
botocore
Brotli
certifi
cffi
charset-normalizer
click
cmake
colorama
coloredlogs
conformer
cryptography
diffusers
easydict
einops
environs
exceptiongroup
fastapi
ffmpeg
filelock
frozendict
fsspec
gdown
gmpy2
gunicorn
h11
huggingface-hub
humanfriendly
humanize
hydra-core
HyperPyYAML
idna
inflect
Jinja2
jmespath
jsonpatch
jsonpointer
librosa
lightning
MarkupSafe
marshmallow
matplotlib
mpmath
multiprocessing-logging
networkx
ninja
numpy
omegaconf
openai-whisper
packaging
Pillow
pip
pluggy
plumbum
prometheus_client
protobuf
psutil
pyarrow
pycparser
pydantic
pyOpenSSL
PySocks
python-dateutil
python-dotenv
python-multipart
pyworld
PyYAML
pyzmq
regex
requests
rich
rpyc
ruamel.yaml
ruamel.yaml.clib
s3transfer
safetensors
schema
sentencepiece
six
sniffio
soundfile
starlette
sympy
tiktoken
tokenizers
toolz
tqdm
transformers
typing_extensions
urllib3
uvicorn
uvloop
websockets
WeTextProcessing
wetext
wget
wheel
x_transformers
zstandard
